spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
        database: mysql
        #        properties:
        #            hibernate:
        #                show_sql: true
        #                format_sql: true
        #                dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        logging.level:
        org.hibernate.SQL: debug
        open-in-view: false
        hibernate:
            dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
        hibernate:
            default_batch_fetch_size: 100
    logging:
        level:
            org:
                hibernate:
                    SQL: trace
    security:
        oauth2:
            client:
                registration:
                    kakao:
                        client-id: ${KAKAO.CLIENT.ID}
                        client-secret: ${KAKAO.CLIENT.SECRET}
                        client-name: kakao
                        redirect-uri: "{baseUrl}/auth/login/oauth2/code/{registrationId}"
                        authorization-grant-type: authorization_code
                        scope:
                            - account_email
                    naver:
                        client-id: ${NAVER.CLIENT.ID}
                        client-secret: ${NAVER.CLIENT.SECRET}
                        client-name: naver
                        redirect-uri: "{baseUrl}/auth/login/oauth2/code/{registrationId}"
                        authorization-grant-type: authorization_code
                        scope:
                            - email
                    google:
                        client-id: ${GOOGLE.CLIENT.ID}
                        client-secret: ${GOOGLE.CLIENT.SECRET}
                        redirect-uri: "{baseUrl}/auth/login/oauth2/code/{registrationId}"
                        scope:
                            - email
                provider:
                    kakao:
                        authorization-uri: https://kauth.kakao.com/oauth/authorize
                        token-uri: https://kauth.kakao.com/oauth/token
                        user-info-uri: https://kapi.kakao.com/v2/user/me
                        user-name-attribute: id
                    naver:
                        authorization-uri: https://nid.naver.com/oauth2.0/authorize
                        token-uri: https://nid.naver.com/oauth2.0/token
                        user-info-uri: https://openapi.naver.com/v1/nid/me
                        user-name-attribute: response
    #Email
    mail:
        host: smtp.gmail.com
        port: 587
        username: ${EMAIL.USERNAME}
        password: ${EMAIL.PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    timeout: 5000
                    starttls:
                        enable: true
                        required: true

# JWT
jwt:
    secret: ${JWT.SECRET}
    token:
        access:
            header: Authorization
        refresh:
            expiration: 604800000 # 7ì¼ (1000L(ms -> s) * 60L(s -> m) * 60L(m -> h) * 24L(h -> d) * 7L(d -> w))
            header: AuthorizationRefresh

server:
    port: ${SERVER.PORT}
    error:
        include-message: always
        include-binding-errors: always
        include-stacktrace: on_param
        include-exception: true

# p6spy
logging:
    file:
        path: /Users/mac/Desktop/letmeknow/log
    level:
        root: info
        p6spy: debug
    logback:
        rollingpolicy:
            max-file-size: 50MB
            max-history: 10
decorator:
    datasource:
        p6spy:
            enable-logging: true
# p6spy

# cors
cors.allowed-origin: ${DOMAIN}
# cors

# domain
domain: ${DOMAIN}

# port
port: ${SERVER.PORT}

aws:
    paramstore:
        enabled: true
        prefix: /LetMeKnow
        name: WAS
        profileSeparator: _
