<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>

        <div class="py-5 text-center">
            <h2>비밀번호 변경</h2>
        </div>

        <form role="form" th:action="@{/auth/member/change-password/{passwordVerificationCode}(passwordVerificationCode = ${passwordVerificationCode})}" th:object="${memberChangePasswordForm}" method="post">
            <div class="form-group">
                <label th:for="newPassword">새 비밀번호</label>
                <input type="password" th:field="*{newPassword}" class="form-control" placeholder="새 비밀번호를 입력하세요."
                       th:class="${#fields.hasErrors('newPassword')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">부적절한 비밀번호입니다.</p>
            </div>
            <div class="form-group">
                <label th:for="newPasswordAgain">새 비밀번호 재입력</label>
                <input type="password" th:field="*{newPasswordAgain}" class="form-control" placeholder="새 비밀번호를 다시 입력하세요."
                       th:class="${#fields.hasErrors('newPasswordAgain')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('newPasswordAgain')}" th:errors="*{newPasswordAgain}">부적절한 비밀번호입니다.</p>
            </div>
            <button type="submit" class="btn btn-success">완료</button>
        </form>
        <br/>
        <div th:replace="fragments/footer :: footer" />
    </div>

</body>
</html>
